
# Environnement
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
logs-projects/
!logs-projects/.gitkeep

# Volumes
volumes/
!volumes/.gitkeep

# Nginx
/data/nginx/dhparam/dhparam.pem
/data/nginx/conf.d/default.conf
