networks:
  nginx:
    external: true

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=${PROMETHEUS_RETENTION}
      - --web.enable-lifecycle
    volumes:
      - ${PATH_DATA}/prometheus-grafana/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ${PATH_DATA}/prometheus-grafana/prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
      - ${PATH_DATA}/prometheus-grafana/prometheus/data:/prometheus
    environment:
      VIRTUAL_HOST: ${PROMETHEUS_DOMAIN}
      VIRTUAL_PORT: ${PROMETHEUS_PORT}
    security_opt:
      - no-new-privileges:true
    networks:
      - nginx

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/host
      - --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host:ro
    security_opt:
      - no-new-privileges:true
    networks:
      - nginx

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    privileged: true
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
    security_opt:
      - no-new-privileges:true
    networks:
      - nginx

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_AUTH_ANONYMOUS_ENABLED: "false"
      GF_SERVER_DOMAIN: ${GRAFANA_DOMAIN}
      # GF_SERVER_ROOT_URL: https://${GRAFANA_DOMAIN}
      GF_SERVER_ROOT_URL: http://${GRAFANA_DOMAIN}
      VIRTUAL_HOST: ${GRAFANA_DOMAIN}
      VIRTUAL_PORT: ${GRAFANA_PORT}
    volumes:
      - ${PATH_DATA}/prometheus-grafana/grafana/data:/var/lib/grafana
      - ${PATH_DATA}/prometheus-grafana/grafana/dashboards:/var/lib/grafana/dashboards:ro
      - ${PATH_DATA}/prometheus-grafana/grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus
    security_opt:
      - no-new-privileges:true
    networks:
      - nginx